# Python
__pycache__/
.venv/
venv/

data/
*.csv
*.xlsx
*.json

models/
*.pt
*.bin
*.pth
checkpoint-*/

.venv/
venv/
env/
ENV/
pyvenv.cfg

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

Thumbs.db
ehthumbs.db
Desktop.ini