# Python
__pycache__/

data/
*.csv
*.xlsx
*.json

models/
*.pt
*.bin
*.pth
checkpoint-*/

.venv/
venv/
env/
ENV/
pyvenv.cfg

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# Gradio 

.gradio/

# Checkpoints

checkpoints/

# test 

test.ipynb